
@{
    ViewBag.Title = "Chart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table class="table">
    <tr>
        <td style="width:20%;text-align:right">LCA</td>
        <td style="width:60%">
            <div class="progress">
                <div class="progress-bar progress-bar-warning" style="width:100%"></div>
                <div class="progress-bar progress-bar-success" style="width:90%"></div>
                @*<div class="progress-bar progress-bar-danger" style="width:20%">
                Danger
            </div>*@
            </div>
        </td>
        <td style="width:20%">30/80</td>
    </tr>
    <tr>
        <td style="width:20%;text-align:right">PD1</td>
        <td style="width:60%">
            <div class="progress">
                <div class="progress-bar progress-bar-warning" style="width:100%"></div>
                <div class="progress-bar progress-bar-success" style="width:80%"></div>
                @*<div class="progress-bar progress-bar-danger" style="width:20%">
                        Danger
                    </div>*@
            </div>
        </td>
        <td style="width:20%">20/50</td>
    </tr>
</table>
