
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewPDF</title>
</head>
<body>
    <div> 
        <embed src="@ViewBag.src" height="850" width="1260" />
    </div>
</body>
</html>
